In [1]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [27]:
df_users = pd.read_csv('user_table.csv')
df_home_pg = pd.read_csv('home_page_table.csv')
df_search_pg = pd.read_csv('search_page_table.csv')
df_pay_pg = pd.read_csv('payment_page_table.csv')
df_pay_conf_pg = pd.read_csv('payment_confirmation_table.csv')

In [28]:
df_merged = df_users.merge(df_home_pg, on='user_id', how='left', sort=False).merge(df_search_pg, on='user_id', how='left', sort=False).merge(df_pay_pg, on='user_id', how='left', sort=False).merge(df_pay_conf_pg, on='user_id', how='left', sort=False)

In [34]:
df_merged.columns = ['user_id', 'date', 'device', 'sex', 'home_page', 'search_page', 'payment_page', 'payment_confirmation_page']

In [30]:
df_merged.head()

,user_id,date,device,sex,home_page,search_page,payment_page,payment_confirmation_page
0,450007,2015-02-28,Desktop,Female,home_page,NaN,NaN,NaN
1,756838,2015-01-13,Desktop,Male,home_page,NaN,NaN,NaN
2,568983,2015-04-09,Desktop,Male,home_page,search_page,NaN,NaN
3,190794,2015-02-18,Desktop,Female,home_page,search_page,NaN,NaN
4,537909,2015-01-15,Desktop,Male,home_page,NaN,NaN,NaN

In [37]:
df_merged.fillna(0, inplace=True)

In [39]:
df_merged['home_page'].replace('home_page', 1, inplace=True)

In [41]:
df_merged['search_page'].replace('search_page', 1, inplace=True)

In [42]:
df_merged['payment_page'].replace('payment_page', 1, inplace=True)

In [43]:
df_merged['payment_confirmation_page'].replace('payment_confirmation_page', 1, inplace=True)

In [44]:
df_merged.head()

,user_id,date,device,sex,home_page,search_page,payment_page,payment_confirmation_page
0,450007,2015-02-28,Desktop,Female,1,0,0,0
1,756838,2015-01-13,Desktop,Male,1,0,0,0
2,568983,2015-04-09,Desktop,Male,1,1,0,0
3,190794,2015-02-18,Desktop,Female,1,1,0,0
4,537909,2015-01-15,Desktop,Male,1,0,0,0

In [69]:
1.0 * sum(df_merged['home_page']==1)/len(df_merged)

1.0

In [70]:
1.0 * sum(df_merged['search_page']==1)/len(df_merged)

0.5

In [71]:
1.0 * sum(df_merged['payment_page']==1)/len(df_merged)

0.06670353982300885

In [72]:
1.0 * sum(df_merged['payment_confirmation_page']==1)/len(df_merged)

0.005

In [73]:
search_page = df_merged[df_merged['search_page']==1]

In [74]:
payment_page = df_merged[df_merged['payment_page']==1]

In [75]:
payment_confirmation_page = df_merged[df_merged['payment_confirmation_page']==1]