In [1]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
fraud = pd.read_csv('Fraud_Data.csv')
ip = pd.read_csv('IpAddress_to_Country.csv')

In [3]:
fraud.describe()

,user_id,purchase_value,age,ip_address,class
count,151112.000000,151112.000000,151112.000000,1.511120e+05,151112.000000
mean,200171.040970,36.935372,33.140704,2.152145e+09,0.093646
std,115369.285024,18.322762,8.617733,1.248497e+09,0.291336
min,2.000000,9.000000,18.000000,5.209350e+04,0.000000
25%,100642.500000,22.000000,27.000000,1.085934e+09,0.000000
50%,199958.000000,35.000000,33.000000,2.154770e+09,0.000000
75%,300054.000000,49.000000,39.000000,3.243258e+09,0.000000
max,400000.000000,154.000000,76.000000,4.294850e+09,1.000000

In [4]:
fraud['signup_time'] = pd.to_datetime(fraud['signup_time'])
fraud['purchase_time'] = pd.to_datetime(fraud['purchase_time'])

In [5]:
fraud['time_to_purchase'] = fraud['purchase_time'] - fraud['signup_time']

In [6]:
fraud.sort_values('ip_address', inplace=True)
ip.sort_values('lower_bound_ip_address', inplace=True)

In [7]:
fraud.head()

,user_id,signup_time,purchase_time,purchase_value,device_id,source,browser,sex,age,ip_address,class,time_to_purchase
110447,62421,2015-02-16 00:17:05,2015-03-08 10:00:39,46,ZCLZTAJPCRAQX,Direct,Safari,M,36,52093.496895,0,20 days 09:43:34
2589,173212,2015-03-08 04:03:22,2015-03-20 17:23:45,33,YFGYOALADBHLT,Ads,IE,F,30,93447.138961,0,12 days 13:20:23
16752,242286,2015-05-17 16:45:54,2015-05-26 08:54:34,33,QZNVQTUITFTHH,Direct,FireFox,F,32,105818.501505,0,8 days 16:08:40
51261,370003,2015-03-03 19:58:39,2015-05-28 21:09:13,33,PIBUQMBIELMMG,Ads,IE,M,40,117566.664867,0,86 days 01:10:34
17,119824,2015-03-20 00:31:27,2015-04-05 07:31:46,55,WFIIFCPIOGMHT,Ads,Safari,M,38,131423.789042,0,16 days 07:00:19

In [8]:
ip.head()

   lower_bound_ip_address  upper_bound_ip_address    country
0              16777216.0                16777471  Australia
1              16777472.0                16777727      China
2              16777728.0                16778239      China
3              16778240.0                16779263  Australia
4              16779264.0                16781311      China

In [9]:
lo = ip['lower_bound_ip_address'].min()
hi = ip['upper_bound_ip_address'].max()

In [10]:
lo, hi

(16777216.0, 3758096383)

In [11]:
# countries = {}
# start = 0
# for i in xrange(len(fraud)):
#     current = fraud['ip_address'].iloc[i]
#     user = fraud['user_id'].iloc[i]
#     if hi < current or current < lo:
#         continue
#     else:    
#         j = start
#         while j < len(ip):
#             lower = ip['lower_bound_ip_address'].iloc[j]
#             upper = ip['upper_bound_ip_address'].iloc[j]
#             location = ip['country'].iloc[j]   
#             if lower <= current and current <= upper:
#                 print i, location
#                 countries[user] = location
#                 start = j
#                 break
#             else:
#                 j += 1

In [12]:
len(countries)

NameError: name 'countries' is not defined